<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coop.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 二维码需要的权限和功能 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.mainTransparent">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c2c55d4f1f556e2d1000023" />
        <!--<meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>-->

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LoginChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.PersionalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.PayTokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.AddTransactionDescActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.QrcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.imgFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ProjectInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>